*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 1000px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: linear-gradient(45deg,rgba(17, 17, 17, 0.514),rgba(0, 0, 0, 0.99));
}

button{
    cursor: pointer;
}

h1{
    font: 36px;
    letter-spacing: 2px;
    color:rgb(209, 215, 160)    
}

.scores{
    display: flex;
    gap:20px;
    align-items: center; 
}

.choices{
    font-size: 30px;
    display: none;
    color:white;
}

.choices.active{
    display: block;
}

.scores p{
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

.computer{
    background: blue;
}

.player{
    background: green;
}

.scores span{
    font-size: 35px;
    color:white;
}

.options button{
    width: 200px;
    height: 240px;
    border-radius: 20px;
    
    margin: 30px;
    transition: 0.3s ease-in-out;
}
.options button:hover{
    transform:scale(1.01)
}

.options button.active{
    transform: scale(1.2);
}

.options button img{
    width: 200px;
    height: 240px;
    pointer-events: none;
    border-radius: 20px;   
}

.result-text{
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.reset-game{
    background: rgb(7, 106, 60);
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    display: none;
}

.reset-game.active{
    display: block;
}
.reset-game:hover{
    background: rgba(7, 106, 60,0.75);
}

.reset-points{
    background: rgb(214, 12, 66);
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    display: none;
}

.reset-points:hover{
    background: rgb(214, 12, 66,0.75);
}

.reset-points.active{
    display: block;
}
.player{
    background-color: green;
    color:white;
}

.computer{
    background-color: rgb(97, 10, 10);
    color:white;
}